pre code {
  color: rgb(30, 31, 32) !important;
  box-shadow: none !important;
  font-size: 15px !important;
  font-weight: 300 !important;
}
.hljs code {
  color: #e0e0de !important;
  box-shadow: none !important;
  font-size: 15px !important;
  font-weight: 300 !important;
}
