pre code {
  color: rgb(30, 31, 32) !important;
  box-shadow: none !important;
  font-size: 15px !important;
  font-weight: 300 !important;
}
.hljs code {
  color: #e0e0de !important;
  box-shadow: none !important;
  font-size: 15px !important;
  font-weight: 300 !important;
}


::selection {
  color: #ffffff;
  background-color: #41afee;
  text-shadow: none;
}
::-moz-selection {
  color: #ffffff;
  background-color: #41afee;
  text-shadow: none;
}
::-webkit-selection {
  color: #ffffff;
  background-color: #41afee;
  text-shadow: none;
}